#aboutMeContent {
    /* margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%; */
    border: 5px solid red;
    background-color: white;}

.myImg{
    float: left;
    width: 200;
    height: 200;
    border-radius: 50%;}

.active {
    color:white;
}

.nav-link{
    color: #0000ac;
}

#aboutMeHeader{
    color: #0000ac;
    font-size: 22px;
    font-weight: bold;
    text-indent: 40px;
}

.myWork{
    width: 80%;
    margin: 50px 0px 100px 0px
}

#aboutMeHeader-2{
    color: lightskyblue;
    font-size: 14px;
    font-weight: bold;
    border: 5px solid yellow;
    /* width: 100%; */
}

.selfPortrait {
    margin: 2% 5% 2% 5%;
    border: 5px solid grey;
    background-color: white;
}

body{
    background-color: lightslategray;
}

.nav-portfolio-boot{
    border-bottom: 5px solid grey;
    background-color: white;
}

P{
    text-indent: 0px;
}

footer{
    background-color: greenyellow;
    text-align: center;
    vertical-align: middle;
    border-top: 10px solid lightblue;
    position: fixed;
    bottom: 0%;
    width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

* {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }